{% extends "base.html" %}

{% block title %}Thoughts - Maksym Bondarenko{% endblock %}

{% block page_name %}random{% endblock %}
{% block last_name %} <span class="last-name">thoughts</span>{% endblock %}

{% block content %}
    <div class="section">
        <h2 class="section-title">Writing</h2>
        <p>Check out my <a href="https://substack.com/@maksymbondarenko">Substack</a> for my writing! </p>
    </div>

    <div style="height:500px;"></div>

    <div class="cat-container">
        <a href="https://veronika-kitsul.github.io/" target="_blank">
            <pre class="ascii-cat">
              __..--''``---....___ _..._ __
/// //_.-'     .-/";   `         ``<._ ``.''_   `. / // /
///_.-' _..--.'_    \             `             ( ) ) // //
/ (_..-' // (< _      ;_..__                      ; `' / ///
/ // // //  `-._,_)' // / ``--...____..-' /// / //

            </pre>
        </a>
    </div>
{% endblock %} 